extends layout

block content
    body.container.error-bg
        .head.peekawoo-error-logo
            .container
                .subscribe2-container
                    button(type="button", onclick="window.open('http://www.facebook.com/peekawooapp','_blank');").subscribe2-image-facebook
                    button(type="button", onclick="window.open('http://www.twitter.com/peekawooapp','_blank');").subscribe2-image-twitter
                    button(type="button", onclick="window.open('http://www.instagram.com/peekawoo','_blank');").subscribe2-image-instagram
                p.text-email "Thank you! Like us on Facebook and follow us on 
                p.text-email Twitter and Instagram"
                input.btn.btn-info.btn-large(type="button" onclick="window.location='/login'" value="Go to Login")
